@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
    transition: color 0.3s; /* Transición suave del color */
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: gray;
}

main {
    padding: 2em;
}

#parking-list {
    list-style: none;
    padding: 0;
}

#parking-list li {
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 5px 0;
}

#parking-list li.free {
    background-color: #dff0d8;
}

#parking-list li.reserved {
    background-color: #f2dede;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
