body {
  justify-content: center;
  align-items: center;
  display: grid;
}

.progress {
  background: rgba(45, 45, 45, 0.1);
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: block;
  height: 45px;
  width: 300px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 100px 200px;
}

.progress:nth-child(1) .progress-value {
  animation: load-1 3s normal forwards;
}

.progress:nth-child(2) .progress-value {
  animation: load-2 3s normal forwards;
}

.progress:nth-child(3) .progress-value {
  animation: load-3 3s normal forwards;
}

.progress:nth-child(4) .progress-value {
  animation: load-4 3s normal forwards;
}

.progress:nth-child(5) .progress-value {
  animation: load-5 3s normal forwards;
}

.progress-value {
  box-shadow: 0 10px 40px -10px rgb(255, 255, 255);
  border-radius: 100px;
  background: rgb(0, 183, 255);
  height: 15px;
  width: 0;
}

@keyframes load-1 {
  0% { width: 0; }
  100% { width: 90%; }
}

@keyframes load-2 {
  0% { width: 0; }
  100% { width: 40%; }
}

@keyframes load-3 {
  0% { width: 0; }
  100% { width: 40%; }
}

@keyframes load-4 {
  0% { width: 0; }
  100% { width: 40%; }
}

@keyframes load-5 {
  0% { width: 0; }
  100% { width: 40%; }
}
